body {
    font-family:"Old Standard TT", 'Times New Roman', Times, serif;
    color: black;
}

#narration {
    font-style:italic;
    font-weight:1000;
    color:black;
    background-color:rgba(255, 255, 255, 0.5);
    padding:10px;
    border-left-style:solid;
    border-left-width:5px;
}

button{
    cursor:help;
    background-color:white;
    border-width:2px; 
    border-style:solid;
    border-color:#8FC0A9;
    border-radius:3px;
    padding:3px;
    margin:2px;
    font-family:"DM Sans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
} 

abbr {
    cursor: grabbing;
}

div {
    width:400px;
    margin:auto;
    padding:10px;
    color: black;
    background-color:rgba(255, 255, 255, 0.5);
    border-color:black;
    border-style:solid;
    border-radius:5px;
  }