body {
    font-family: "DM Sans", sans-serif
}

/* Navbar */

.base-navbar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: white;
    padding: 10px;
}

.navbar {
    height: 100%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 400;
    max-width: 2000px;
}

.logo {
    width: 100%;
}

.logo img {
    height: 40px;
    position: relative;
}

.logo img:hover {
    height: 50px;
}

.navigation {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

.item a {
    color: black;
    text-transform: uppercase;
    text-decoration-line: none;
}

.item-square {
    width: fit-content;
    height: fit-content;
    padding: 2px 5px;
}

.item-square:hover {
    background: black;
    color: white;
}

.item-square a:hover {
    color: white;
}

/* Main content */

main {
    margin-top: 150px;
}

.base-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.content {
    height: 100%;
    width: 90%;
    max-width: 2000px;
    overflow: hidden;
    position: relative;
}

h2 {
    font-size: 50px;
    margin-bottom: 0px;
}

h1 {
    font-size: 100px;
    margin-top: 0px;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}