<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav>
        <div class="base-navbar">
            <div class="navbar">
                <div class="logo">
                    <img src="static/test.jpg">
                </div>
                <div class="navigation">
                    <div class="item">
                        <div class="item-square">
                            <a href="/">home</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <del><a href="/about">about</a></del>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <b><a href="/contact">contact</a></b>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <a href="/418">tea</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="base-content">
            <div class="content">
                <form method="POST" action="/contact">
                    <h2>I use email</h2>
                    <a href="mailto:isobel-p@hackclub.app">Contact me here!</a>
                    
                    <h2>I use other socials</h2>
                    <p>Feel free to drop me a DM!</p>

                    <h2>I use something else</h2>
                    <p>Might be slightly harder for me to respond but use the universal contact form below!</p>
                    {{ form.hidden_tag()}}
                    {{ form.first.label }} {{ form.first(size=20) }}<br>
                    {{ form.last.label }} {{ form.last(size=20) }}<br>
                    {{ form.email.label }} {{ form.email(size=20) }}<br>
                    {{ form.tel.label }} {{ form.tel(size=20) }}<br>
                    {{ form.social.label }} {{ form.social(size=20) }}<br>
                    {{ form.username.label }} {{ form.username(size=20) }}<br>
                    {{ form.message.label }} {{ form.message(size=40) }}<br>
                    {{ form.files.label }} {{ form.files() }}<br>
                    {{ form.news.label }} {{ form.news() }}<br>
                    <input type="submit" value="Go">
                    {% for field in form %}
                        {% if field.errors %}
                            <ul class="errors"></ul>
                                {% for error in field.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
        </div>
    </main>
</body>
</html>