<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav>
        <div class="base-navbar">
            <div class="navbar">
                <div class="logo">
                    <img src="static/test.jpg">
                </div>
                <div class="navigation">
                    <div class="item">
                        <div class="item-square">
                            <a href="/">home</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <b><a href="/contact">contact</a></b>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <a href="/playground">playground</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="base-content">
            <div class="content">
                <form method="POST" action="/contact">
                    <h2>Say hi!</h2>
                    <p>I'm open to unsolicited testimonials, if you have a partnership request, <a href="https://en.wikipedia.org/wiki/Dungeons_%26_Dragons">party invitation</a>, or just want to say hi.</p>
                    <p>Feel free to fill out the universal contact form below. I’ll write back ASAP; I check my messages every morning 8AM GMT. Your messages matter to me!</p>
                    <div class="centre" id="form">
                        <b><p>All bold sections are required!</p></b>
                        {{ form.hidden_tag()}}
                        <b>{{ form.first.label }}</b> <br> {{ form.first(size=20) }}<br>
                        {{ form.last.label }} <br> {{ form.last(size=20) }}<br>
                        {{ form.email.label }} <br> {{ form.email(size=20) }}<br>
                        {{ form.tel.label }} <br> {{ form.tel(size=20) }}<br><br>
                        {{ form.social.label }} <br> {{ form.social(size=20) }}<br>
                        {{ form.username.label }} <br> {{ form.username(size=20) }}<br><br>
                        <b>{{ form.message.label }}</b> <br> {{ form.message(size=70) }}<br><br>
                        {{ form.files.label }} {{ form.files() }}<br><br>
                        {{ form.news.label }} {{ form.news() }}<br>
                        <input type="submit" value="Go">
                        {% for field in form %}
                            {% if field.errors %}
                                <ul class="errors"></ul>
                                    {% for error in field.errors %}
                                        <li>{{ error }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        {% endfor %}
                        <br><br>
                    </div>
                    <hr>
                    <h3>Not working?</h3>
                    <p>I'm probably working to fix this right now, but in the meantime you can email me <a href="mailto:isobel-p@hackclub.app">here</a>.</p>
                </form>
            </div>
        </div>
    </main>
</body>
</html>