<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav>
        <div class="base-navbar">
            <div class="navbar">
                <div class="logo">
                    <img src="static/test.jpg">
                </div>
                <div class="navigation">
                    <div class="item">
                        <div class="item-square">
                            <a href="/tea">tea</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <a href="/tea">tea</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <a href="/tea">tea</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <a href="/tea">tea</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <p>This is the main content of the page.</p>
    </main>
    <footer>
        <p>This is the footer of the page.</p>
    </footer>
</body>
</html>