<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <nav>
        <div class="base-navbar">
            <div class="navbar">
                <div class="logo">
                    <img src="static/test.jpg">
                </div>
                <div class="navigation">
                    <div class="item">
                        <div class="item-square">
                            <a href="/">home</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <a href="/contact">contact</a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="item-square">
                            <b><a href="/playground">playground</a></b>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="base-content">
            <div class="content">
                <h1 class="centre">Playground</h1>
                <p class="centre">A scrappy sandbox of web tidbits.</p>
            </div>
        </div>
    </main>
</body>
</html>