<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>isobel-p | Thanks!</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <div class="centre" id="success">
        <h1 class="centre">Success!</h1>
        <img alt="Snoopy and Charlie Brown sending your mail off." class="centre" id="snoopy" src="static/mail.gif">
        <p class="centre">I'll get in touch soon.</p>
        <a href="/" class="centre">> Go home</a>    
    </div>
    <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
    <script src="static/script.js"></script>
</body>
</html>